@model DietApp.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KcalPer100)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KcalPer100)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatPer100)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatPer100)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarboPer100)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarboPer100)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProteinPer100)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProteinPer100)
        </dd>
        <dd class="col-sm-10">
            @if (Model.ImageName == null)
            {
                <img decoding="async" src="@("~/default_image/default.jpg")" asp-append-version="true" width="100px" height="100px" />
            }
            else
            {
                <img decoding="async" src="@("~/images/"+Model.ImageName)" asp-append-version="true" width="200px" height="200px" />
            }
        </dd>
    </dl>
</div>
<div>
     @if (ViewContext.HttpContext.User.IsInRole("Admin"))
     {
        <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> 
        <text> |</text>
     }
    <a asp-action="Index">Back to List</a>
</div>
